body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: orange;
    color: white;
    padding: 5px 0px 5px 50px;
}
.header ul{
    margin-top: 50px;
    margin-left: 400px;
}
.header ul li{
    display: inline;
    margin: 0 10px;
}
.header-link a{
    text-decoration: none;
    color: white;
} 
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.orange-color {
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width {
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.flexible-container img{
    width: 100%;
}
.content{
    margin-top: 100px;
}
.content p{
    margin-bottom: 40px;
}
.recipe-content{
    text-align: center;
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.about-area{
    background-image: url(images/shapes/7.png);
}
.recipe-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.social-media img{
    width: 100px;
    height: 50px;
}
.social-media ul{
    text-align: center;
    margin-top: 100px;
    margin-bottom:100px;
}
.social-media ul li{
    display: inline;
    margin: 50px;
}
.social-media ul li a{
    text-decoration: none;
    display: inline
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}

